body{
    background-color: #111111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}
.image-hover {
    border-radius: 100%;
    width: 14vw;
    height: 14vw;
    background-image: url('185128130(1).jpg');
    background-size: cover;
    float: right;
    margin: 2vw 0 2vw auto;
    transition: ease-in-out 0.3s;
}
.parent-img{
    display: flex;
    justify-content: right;
    flex-grow: 1;
}

.image-hover:hover {
    background-image: url("185128130(1).png"); /* Change on hover */

}

.head {
    display: flex;
    clear: right;
    flex-direction: row;
    transform: translate(0, 60%);
}

.wave {
    display: inline-block;
    margin-bottom: 0;
    font-size: 3vw;
    cursor: pointer;
}
.wave:hover {
    animation-name: wave;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave{
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


.header{
    font-size: 9vw;
    margin: 0;
}

.head-text{
    margin-bottom: 0;
    font-size: 3vw;
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.7);
}
.head-text:hover{
    color: rgba(255, 255, 255, 0.94);
}
.fa-github{
    margin-left: 1vw;
    color: #9f9f9f
}
.fa-github:hover{
    color: #ffffff
}

.fa-bluesky{
    margin-left: 1vw;
    color: rgb(0, 180, 255);
}
.fa-bluesky:hover{
    color: rgb(97, 209, 255);
}


.fa-discord{
     margin-left: 1vw;
     color: #5661ea;
 }

.fa-discord:hover{
    color: #818aff;
}